<div class="card mb-3">
  <div class="card-body">
    <h5 class="card-title">
      <%= grouping_key.titleize %>
      <% if distros.first.id_field.present? %>
        <small class='text-muted'>
          (<%= distros.first.id_field %>)
        </small>
      <% end %>
    </h5>

    <% if distros.first.home_url.present? %>
      <p class="card-text">
        <%= link_to distros.first.home_url, distros.first.home_url, target: '_blank', rel: 'noopener noreferrer' %>
      </p>
    <% end %>

    <% stats = Distro.group_stats(distros) %>

    <% if stats[:is_single_rolling] %>
      <% if stats[:total_images] > 0 %>
        <p class="card-text">
          <strong><%= number_with_delimiter(stats[:total_images]) %></strong>
          <span class='text-muted'><%= 'Docker image'.pluralize(stats[:total_images]) %></span>
          <% if stats[:total_downloads] > 0 %>
            - <span class='text-muted'><%= number_with_delimiter(stats[:total_downloads]) %> downloads</span>
          <% end %>
        </p>
      <% end %>
    <% else %>
      <p class="card-text">
        <strong>Versions:</strong>
        <span class='text-muted'><%= pluralize distros.count, 'version' %></span>
        <% if stats[:total_images] > 0 %>
          - <span class='text-muted'><%= pluralize number_with_delimiter(stats[:total_images]), 'Docker image' %></span>
        <% end %>
        <% if stats[:total_downloads] > 0 %>
          - <span class='text-muted'><%= number_with_delimiter(stats[:total_downloads]) %> downloads</span>
        <% end %>
      </p>
    <% end %>

    <%
      visible_limit = 10
      visible_distros = distros.take(visible_limit)
      hidden_distros = distros.drop(visible_limit)
      group_id = "distro-group-#{grouping_key.parameterize}"
    %>

    <ul class="list-unstyled mb-0 small">
      <% visible_distros.each do |distro| %>
        <li class="mb-1">
          <%= link_to distro.version_display_text, distro_path(distro.slug) %>
        </li>
      <% end %>

      <% if hidden_distros.any? %>
        <div id="<%= group_id %>-hidden" class="collapse">
          <% hidden_distros.each do |distro| %>
            <li class="mb-1">
              <%= link_to distro.version_display_text, distro_path(distro.slug) %>
            </li>
          <% end %>
        </div>
      <% end %>
    </ul>

    <% if hidden_distros.any? %>
      <button class="btn btn-sm btn-link ps-0" type="button" data-bs-toggle="collapse" data-bs-target="#<%= group_id %>-hidden" aria-expanded="false">
        Show <%= hidden_distros.count %> more...
      </button>
    <% end %>
  </div>
</div>
