<div class="container-sm">
  <h1>
    <%= link_to @package.name, @package %> : <%= @version %>
  </h1>

  <% if @version.purls.any? %>
    <h2>Dependencies</h2>
    
    <% @version.purls.map{|purl| PackageURL.parse(purl) }.group_by{|pkg| pkg.type }.each do |type, pkgs| %>
      <h3><%= type %></h3>
      <ul>
        <% pkgs.group_by{|pkg| [pkg.namespace,pkg.name].compact.join(pkg.type == 'maven' ? ':' : '/') }.each do |name, versions| %>
        <% pkg = versions.first%>
        <li>
          <%= link_to name, "https://packages.ecosyste.ms/registries/#{pkg_type_to_host(pkg.type)}/packages/#{[pkg.namespace,pkg.name].compact.join(pkg.type == 'maven' ? ':' : '/')}", target: :_blank %>
          <small class='text-muted'>
            <%= versions.map{|p| p.version }.join(', ') %>
          </small>
        </li>
      <% end %>
    </ul>
    <% end %>
  <% end %>
</div>